<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2020 Unbxd Inc.
 */
-->

<!--
/**
 * Init development:
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <unbxd_setup>
            <general>
                <site_key></site_key>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
             </general>
            <api_endpoints>
                <full>https://feed.unbxd.io/api/%s/upload/catalog/full</full>
                <incremental>https://feed.unbxd.io/api/%s/upload/catalog/delta</incremental>
                <full_uploaded_status>https://feed.unbxd.io/api/%s/catalog/%s/status</full_uploaded_status>
                <incremental_uploaded_status>https://feed.unbxd.io/api/%s/catalog/delta/%s/status</incremental_uploaded_status>
                <uploaded_size>https://feed.unbxd.io/api/%s/catalog/size</uploaded_size>
            </api_endpoints>
        </unbxd_setup>
        <unbxd_catalog>
            <general>
                <available_product_types>all</available_product_types>
                <filter_attributes>status</filter_attributes>
                <max_number_of_attempts>3</max_number_of_attempts>
                <check_latest_version_update>0</check_latest_version_update>
                <use_categoryid_insteadof_path>0</use_categoryid_insteadof_path>
                <retain_inactive_category>0</retain_inactive_category>
                <fetch_from_category_tables>0</fetch_from_category_tables>
                <retain_root_category>0</retain_root_category>
            </general>
            <images>
                <use_cached_product_images>0</use_cached_product_images>
                <resize_image_when_not_found>0</resize_image_when_not_found>
                <remove_pub_directory_in_mediaurl>1</remove_pub_directory_in_mediaurl>
            </images>
            <indexing>
                <enabled_queue>1</enabled_queue>
                <incremental_partial_update>0</incremental_partial_update>
                <multi_part_upload>1</multi_part_upload>
                <indexing_queue_archival_time>7200</indexing_queue_archival_time>
                <feed_view_archival_time>7200</feed_view_archival_time>
            </indexing>
            <cron>
                <general_settings>
                    <enabled>0</enabled>
                    <cron_type>manually</cron_type>
                </general_settings>
                <full_feed_settings>
                    <enabled>0</enabled>
                    <cron_type>manually</cron_type>
                </full_feed_settings>
            </cron>
            <feed>
                <enable_stream_serialization>0</enable_stream_serialization>
                <reader_db_connection></reader_db_connection>
                <full_state_flag></full_state_flag>
                <incremental_state_flag></incremental_state_flag>
                <full_lock_flag></full_lock_flag>
                <full_lock_time></full_lock_time>
                <last_operation_type></last_operation_type>
                <last_datetime></last_datetime>
                <last_status></last_status>
                <last_upload_id></last_upload_id>
                <uploaded_size></uploaded_size>
                <generated_for_download></generated_for_download>
            </feed>
        </unbxd_catalog>
    </default>
</config>